# Discord Bot Token
TOKEN=""

# Bot Config Stuff
DEBUG=true or false
CLIENT_ID=""
GUILD_ID=""

# Gen Category ID
GEN_CATEGORY=""
EVENT_CATEGORY=""

# Logging
VC_JOIN=""
VC_MOVE=""
VC_LEAVE=""
VC_KICK=""

# Role Pings
PRIVATEMATCH_PING=""

# Chalk Stuff
FORCE_COLOR=1
